.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.userBtn {
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 10px;
}
.usersAside {
    display: flex;
    
}